<h1>Formulario 39</h1>

<div class="contenido">
    <form [formGroup]="forma" (ngSubmit)="guardar()">

        <div class="row">
            <div class="formulario">
                <label for="femail" class="otro">Email</label>
            </div>
            <div>
                <input 
                type="text"
                id="femail"
                placeholder="Correo Electronico"
                class="texto"
                FormControlName="correo"
                [class.is-invalid]="correoNoValido"
                >
                <small class="text-danger" *ngIf="correoNoValido">
                    Ingrese un correo valido
                </small>
            </div>
        </div>

         <div class="row">
            <div class="formulario">

                <label for="tramites" class="otro">Cantidad de tramites</label>
            </div>
            <div>
                <input 
                type="text"
                id="tramites"
                placeholder="Tramite"
                class="text"
                FormControlName="tramite"+
                [class.is-invalid]="tramiteNoValido"
                >
                <small class="text-danger" *ngIf="tramiteNoValido">
                    Ingrese una cantidad correcta de tramites
                </small>
            </div>
        </div>

        <!--<div class="row">
            <div class="describe"><datagrid>Descripcion</datagrid></div>
        </div>

        <div class="row">
            <div class="describe">
                <div class="formulario">
                    <label for="descripcion" class="nuevo">Descripcion</label>
                </div>
                <div>
                    <input type="text"
                    id="descripcion">
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="alinea-boton">
                <button type="submit" class="btn" [disabled]="forma.invalid">Guardar</button>
            </div>
        </div>

    </form>
</div>
