.contenido {
    border-radius: 10px;
    background-color: #f2f2f27c;
    padding: 20px;
}

.row {
    padding-top: 20px;
}

.alinea-boton {
    margin-left: 10%;
}

.btn {
   width: 15%;
   padding: 12px;
   cursor: pointer;
}

